@import "../../styles/variables";
@import "../../styles/mixins";

.status-badge {
  @include badge;
  border: none;
  cursor: pointer;
  margin-right: 6px;

  &--active {
    background: $green-bg;
    color: $green-text;
  }

  &--inactive {
    background: $yellow-bg;
    color: $yellow-text;
  }

  &--busy,
  &--away,
  &--onleave,
  &--donotdisturb {
    background: $yellow-bg;
    color: $yellow-text;
  }

  &--terminated {
    background: $red-bg;
    color: $red-text;
  }
}
