@import "../../styles/variables";
@import "../../styles/mixins";

.team-row {
  transition: background 0.15s ease;

  &:hover {
    background: $gray-100;
  }

  td {
    vertical-align: middle;
  }

  input[type="checkbox"] {
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  .actions {
    display: flex;
    gap: 12px;
    color: $gray-500;

    svg {
      cursor: pointer;

      &:hover {
        color: $gray-700;
      }
    }
  }
}
