// Colors
$gray-900: #101828;
$gray-700: #344054;
$gray-600: #475467;
$gray-500: #667085;
$gray-400: #98a2b3;
$gray-300: #d0d5dd;
$gray-200: #eaecf0;
$gray-100: #f2f4f7;

$primary: #7f56d9;

$font-base: "Poppins", sans-serif;
// Status colors
$green-bg: #ecfdf3;
$green-text: #027a48;

$yellow-bg: #fffaeb;
$yellow-text: #b54708;

$red-bg: #fef3f2;
$red-text: #b42318;

// Font
$font-base: "Inter", sans-serif;
